<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.app.dao.dev_user.Dev_userMapper">

<select id="logincheck" parameterType="String" resultType="int">
select count(1) from dev_user where devCode=#{devCode} and devPassword=#{devPassword}
</select>

</mapper>